@font-face {
  font-family: RennieBold;
  src: url(../fonts/rennie_bold.ttf);
  font-weight:100;
}

body {
  background: #030303 url(../img/bg.jpg) fixed center 5rem repeat-y;
  padding-top: 90px;
  font-family:arial,helvetica,sans-serif;
  color: grey;
  hr {
    border-top: 1px solid #333;
  }
  .section-header {
    h2 {
      font-family: RennieBold;
      font-size:40px;
      color: #fff;
      font-weight: lighter;
    }
  }
  .container {
    margin: 0 auto;
    max-width: 994px;
    position: relative;
    .news-title {
      font-size:18px;
      color: #ebebeb;
    }
    .news-date {
      color: #C81D21;
    }
    .tourdate-container {
      border-style: solid;
      border-width: 1px;
      padding: .6em;
      background-color: #272727;
    }
    .footer-text-top {
      float: none;
      text-align: center;
    }
  }
}

.navbar {
  min-height:90px;
  .navbar-nav {
    a {
      font-family: RennieBold;
      font-size:18px;
      font-weight: bold;
      color: #fff;
      padding: 15px;
      @media(min-width:768px){
        padding: 35px 0px 20px 16px;
      }
      @media(min-width:993px){
        padding: 35px 0px 20px 50px;
      }
    }
    .social-list-element {
      display: block;
      @media(min-width:768px){
        display:none;
      }
      a {
        float: left;
      }
    }
  }
  .navbar-right {
    display: none;
    padding-right:20px;
    @media(min-width:1200px){
      display: block;
    }
    a {
      padding: 35px 0px 20px 20px;
      i {
        color: #C81D21;
        font-size:28px;
      }
    }
  }
  .navbar-header {
    button {
      margin-top: 25px;
    }
  }

  .navbar-collapse {
    max-height:500px;
    li {
      border-bottom:1px solid #191919;
      @media(min-width:768px){
        border-bottom:none;
      }
    }
  }
}

.navbar-inverse {
  background: #000;
  .logo {
    max-height:50px;
    margin-top: 10px;
    @media(min-width:768px){
      margin-top: 0px;
      max-height:70px;
    }
  }
  .navbar-brand {
    padding: 13px 0px 0px 8px;
    height: 90px;
  }
}

.carousel-inner {
  margin-bottom:15px;
}

.tour-left {
  border: 1px solid #505050;
  background-color: #202020;
  color: grey;
  padding: 0 5px 0 5px;
}

.tour-right {
  .location {
    font-style: normal;
    font-weight: normal;
    font-size:22px;
    margin-top:0;
  }
  .date {
    font-style: normal;
    color: gray;
    margin-top: .6em;
    font-weight: normal;

  }
  .readmore {

  }
}

.tour-element {
  margin-bottom:30px;
}

.tour-month {
  text-align: center;
  margin-bottom:5px;
  margin-top: 5px;
}
.tour-day {
  font-size: 2em;
  color: white;
  line-height: 1em;
  text-align: center;
  margin-bottom:5px;
}
.tour-year {
  text-align: center;
  margin-bottom: 5px;
}